<ul class="list-reset items-center flex">
    <li class="mr-1"><img src="/images-checkout/logo--mastercard.svg" alt="Mastercard"></li>
    <li class="mr-1"><img src="/images-checkout/logo--visa.svg" alt="Visa"></li>
    <li class="mr-1"><img src="/images-checkout/logo--gem.svg" alt="Gem"></li>
    <li class="mr-1"><img src="/images-checkout/logo--finance-now.svg" alt="Finance Now"></li>
    <li class="mr-1"><img src="/images-checkout/logo--humm.svg" alt="humm"></li>
    <li class="mr-1"><img src="/images-checkout/logo--laybuy.svg" alt="Laybuy"></li>
</ul>