<ul class="cart-payment-logos list-reset items-center flex">
    <li class="cart-payment-logo"><img class="cart-payment-logo__img" src="/images-checkout/logo--mastercard.svg" alt="Mastercard"></li>
    <li class="cart-payment-logo"><img class="cart-payment-logo__img" src="/images-checkout/logo--visa.svg" alt="Visa"></li>
    <li class="cart-payment-logo"><img class="cart-payment-logo__img" src="/images-checkout/logo--paypal.svg" alt="Paypal"></li>
    <li class="cart-payment-logo"><img class="cart-payment-logo__img" src="/images-checkout/logo--gem.svg" alt="Gem"></li>
    <li class="cart-payment-logo"><img class="cart-payment-logo__img" src="/images-checkout/logo--finance-now.svg" alt="Finance Now"></li>
    <li class="cart-payment-logo"><img class="cart-payment-logo__img" src="/images-checkout/logo--humm.svg" alt="Humm"></li>
    <li class="cart-payment-logo"><img class="cart-payment-logo__img" src="/images-checkout/logo--laybuy.svg" alt="Laybuy"></li>
</ul>