{% if cart.objOrderItems|length > 0 %}
    <td>&nbsp;</td>
    <td colspan="3">
        <ul class="cart-totals list-reset">
            <li class="cart-totals__item flex justify-between">
                <div>Shipping</div>
                <div class="text-right">Shipping costs are calculated during&nbsp;checkout</div>
            </li>
            <li class="cart-totals__item flex justify-between">
                <div><strong>Subtotal</strong></div>
                <div class="text-right"><strong>${{ cart.subtotal|number_format(2) }}</strong></div>
            </li>            
            <li class="cart-totals__item cart-totals__item--savings flex justify-between">
                <div>Total savings</div>
                <div class="text-right">${{ cart.subtotal|number_format(2) }}</div>
            </li>
        </ul>
    </td>
{% endif %}
