{% if cart.objOrderItems|length > 0 %}
    <div class="mini-cart__subtotal flex justify-between">
        <span class="">Subtotal</span>
        <span class="">${{ cart.subtotal|number_format(2) }}</span>
    </div>    
    
    <div class="mini-cart__savings flex justify-between">
        <span class="">Total savings</span>
        <span class="">${{ cart.subtotal|number_format(2) }}</span>
    </div>
    
    <div class="mini-cart__shipping flex justify-between">
        <span>Shipping</span>
        <span>Calculated at next step</span>
    </div>
    
    <a class="button--mini-cart-checkout button button--primary" href="/checkout">Checkout</a>

{% endif %}
