<div class="flex justify-between items-center js-products-toolbar {% if total.count == 0 %}hidden{% endif %}">
    <div class="products-toolbar__results">
        <strong class="js-total">1 to 6 of {{ total.count }}</strong> results
    </div>
    <div class="flex items-center">
        <label class="mr-1" for="sort">Sort:</label>
        <div class="select">
            <select id="sort" class="js-sort">
                {% set sorts = {
                    'most-popular': 'Most popular',
                    'price-high-to-low': 'Price high to low',
                    'price-low-to-high': 'Price low to high',
                    'newest': 'Newest',
                    'oldest': 'Oldest'
                } %}
                {% for idx, itm in sorts %}
                    <option {% if sortby == idx %}selected{% endif %} value="{{ idx }}">{{ itm }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>


<hr class="hr--small" />


{% if orms|length > 0 %}
<ul class="grid mt-12 gutter-x gutter-y list-reset">
    {% for itm in orms %}
        {% include '/cart/includes/card-product.twig' with { product: itm } %}
    {% endfor %}
</ul>
{% endif %}


{% if orms|length == 0 %}
<div class="products-no-results js-product-no-results">
    <h2 class="heading--section headings--block">No results found</h2>
    <p>Try altering some of your filters or <a href="{{ app.request.pathInfo }}">resetting them altogether</a>.</p>
</div>
{% endif %}

{% include '/cart/includes/paginator.twig' %}