{% if brands|length > 0 %}
    <hr class="hr--small" />

    <div class="js-filters js-sticky">
        <h2>Brand</h2>
        <ul class="filter-nav-items list-reset">
            <li class="filter-nav-item">
                <input class="filter-nav-input" id="brand-all" class="js-filter-option" type="radio" name="brand" value="" checked>
                <label class="filter-nav-label" for="brand-all">All brands</label>
            </li>

            {% for itm in brands %}
                <li>
                    <input id="brand-{{itm.id}}" class="js-filter-option" type="radio" name="brand" value="{{ itm.slug }}" {% if selectedProductBrand and selectedProductBrand.id == itm.id %}checked{% endif %}>
                    <label for="brand-{{itm.id}}">{{ itm.title }}</label>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
