{% verbatim %}
    <div class="panel panel-info content-block-sidebar {{ className }}">
        <div class="panel-heading">
            <i class="fa fa-info-circle"></i> Content overview
        </div>
        <div class="panel-body scroll-content"></div>
        <div class="sidebar-submit">
            <a class="js-back btn btn-sm btn-default m-t-n-xs" href="#"><i class="fa fa-arrow-left"></i> &nbsp;Back</a>
            <input class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit" value="Save" name="submit" />
            <input class="btn btn-sm btn-success pull-right m-t-n-xs" type="submit" value="Apply" name="submit" />
        </div>
    </div>
{% endverbatim %}