{% verbatim %}
    <div class="cms_from_various_snippets_container panel panel-info content-block-sidebar {{ className }}">
        <div class="panel-heading">
            <i class="fa fa-info-circle"></i> Content overview
        </div>
        <div class="panel-body scroll-content"></div>
        <div class="sidebar-preview-area js-sidebar-preview-area" style="display: none;" >
            <button style="" class="submit button save-content preview">Preview</button>
        </div>
        <div class="sidebar-submit-area">
            <input style="display: none;" class="submit button save-content apply" class="bg-blue" style="margin-right: .5em;" type="submit" value="Apply" name="submit" />
            <input style="display: none;" class="submit button save-content save" class="bg-green" type="submit" value="Save" name="submit" />
            <input style="display: none;" class="submit button save-content restore" class="bg-restore" type="submit" value="Confirm" name="submit" />
            <a style="display: none;" class="submit button save-content cancel" class="bg-cancel">Cancel</a>
        </div>
    </div>
{% endverbatim %}