{% extends 'cms/base.html.twig' %}


{% block container %}
    <div id="h1">
        {% block ormModelTitle %}<h1>Dashboard</h1>{% endblock %}
    </div>

    {% for table in tables %}
        <h2>{{ table.title }}</h2>
        <table class="table table-striped table-bordered table-hover table-middle">
            <tbody>
                <tr>
                    <td class="tableHead">Title</td>
                    <td class="tableHead" width="180px" align="right">Value</td>
                </tr>
            </tbody>

            <tbody>
                {% for row in table.rows %}
                    <tr>
                        <td>{{ row.title }}</td>
                        <td align="right"><a href="{{ row.link }}">{{ row.value }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock %}
