{% extends 'cms/orms/orms-pagination.html.twig' %}

{% block tableHead %}
    <tbody>
        <tr>
            <td class="tableHead" width="40px">ID</td>
            <td class="tableHead">Title</td>
            <td class="tableHead" width="180px" align="right">Action</td>
        </tr>
    </tbody>
{% endblock %}

{% block extraColumns %}class="js-sort-column"{% endblock %}
{% block dataPagination %}{% endblock %}

