{% extends 'cms/orms/orms-pagination.html.twig' %}

{% block ormModelTitle %}<h1>Shipping Option Method</h1>{% endblock %}

{% block ormModelExtra %}
    <form action="{{ app.request.pathInfo }}" autocomplete="off" class="edit" novalidate="" method="POST">
        <div class="formStyle">
            <label class="required">Method:</label>
            <select name="method" required="required" class="js-choice_multi_json">
                <option>Flat</option>
                <option>By weight</option>
                <option>By order cost</option>
            </select>
        </div>
        <div>&nbsp;</div>
    </form>
{% endblock %}

{% block tableHead %}
    <tbody>
    <tr>
        <td class="tableHead" width="40px">ID</td>
        <td class="tableHead">Title</td>
        <td class="tableHead" width="180px" align="right">Action</td>
    </tr>
    </tbody>
{% endblock %}

{% block extraColumns %}class="js-sort-column"{% endblock %}
{% block dataPagination %}{% endblock %}

