{% extends '/cart/checkout-confirm.twig' %}

{% block promoBlock %}
    <aside id="order-summary" class="checkout-aside js-checkout-aside section-inner--s section-inner--py grid-col l-5">
        {% include '/cart/includes/checkout-sidebar.twig' with { cart: order, showpromo: false } %}
    </aside>
{% endblock %}

{% block checkoutMainHeader %}
    <section class="section-inner--pb--s">
        <header class="checkout-headings--page grid-row grid-row--nowrap mw-480 items-center">

            <h1 class="checkout-heading--page flex-1">Your order has been declined!</h1>
        </header>

        <p>
            Your order reference number is <strong>#{{ order.title }}</strong>
        </p>
    </section>
{% endblock %}

{% block checkoutMainButton %}
    <section class="">
        <a class="checkout-button checkout-button--primary" href="/checkout/payment?id={{ order.title }}">Try again</a>
    </section>
{% endblock %}