{% extends 'cms/base.twig' %}
{% block extraBodyClass %}page-login{% endblock %}

{% block bodyContainer %}
    <div class="header" id="headContainer" style="padding-left: 2em !important; background: #000;">
        <div id="head" style="{% if '/images/head.jpg'|file_exists %}background: url('/images/head.jpg') no-repeat #000;{% else %}background: #000;{% endif %}">
            <a class="logo" href="/cms/html/index.php?viewModeSent=0&amp;fileNo=13#_tab_home"></a>
        </div>
    </div><!-- .header -->

    <div id="menuContainer">
        <div id="menuTop">
            <ul class="menuTop"></ul>
        </div>
    </div>


    <div id="contentContainer">
        <div id="maincontent">
            <div id="bodyContent">

                {% if getenv('CMS_TITLE') %}
                    <h1>{{ getenv('CMS_TITLE') }}</h1>
                {% endif %}
                <p>Welcome to the Content Management System. Please enter your username and password to enter.</p>

                <form class="form-login" method="post" action="/manage/login_check" novalidate autocomplete="off">
                    <ul>
                        <li>
                            <label for="">Username:</label>
                            <input type="text" name="_username" id="username" class="loginTextfield" value="{{ last_username }}">
                        </li>
                        <li>
                            <label for="">Password:</label>
                            <input type="password" name="_password" class="loginTextfield" value=""/>
                        </li>
                        <li>
                            <input type="checkbox" id="remember" class="checkbox" name="_remember_me" checked />
                            <label for="remember">Remember me?</label>
                        </li>
                        {% if error %}
                            <li>
                                <div class="alert alert-danger">{{ error.message }}</div>
                            </li>
                        {% endif %}
                        <li>
                            <input type="submit" class="button submit" name="" value="Sign in &rsaquo;"/>
                        </li>
                    </ul>
                </form>
            </div><!-- #bodyContent -->
        </div><!-- #maincontent -->
    </div> <!-- #contentContainer -->


    <div id="footContainer" class="footer">
        <div id="foot">
            &copy; {{ 'now'|date('Y') }} All rights reserved
        </div>
    </div>
{% endblock %}