{% extends 'cms/base.html.twig' %}

{% form_theme form 'cms/form.twig' %}

{% block container %}
	<div id="h1">
		{% if orm.id %}
			<h1>Editing #{{ orm.id }}</h1>
		{% else %}
			<h1>Creating new record...</h1>
        {% endif %}
	</div>


    {% block form %}
		<form method="POST" novalidate autocomplete="off" class="edit">
            {% block formWidgets %}
                {{ form_widget(form) }}
            {% endblock %}

			<div class="submit-area">
                {#{{ form_widget(form._token) }}#}
				<a class="back-button button" href="{{ returnUrl }}">‹ Back</a>
				<button class="submit button save-content" style="background: #2281cf;" name='submit' value='Apply'>Apply</button>
				<button class="submit button" name='submit' value='Save'>Save & Exit ›</button>
			</div>
		</form>
    {% endblock %}
{% endblock %}


{% block externalFooter %}


	<script src="/cms/js/orm.js"></script>
{% endblock %}