{% verbatim %}
    <div class="form-check-radio">
        <label class="form-check-label">
            <input class="form-check-input" type="radio" name="shippingOption" value="{{ shippingOption.uniqid }}" {{#compare orderContainer.shippingId shippingOption.id operator="=="}}checked{{/compare}} {{#compare shippingOption.price -1 operator="=="}}disabled{{/compare}}>
            <span class="form-check-sign"></span>
            {{ shippingOption.title }} {{#compare shippingOption.price -1 operator="!="}}<strong><small>$</small>{{#formatMoney shippingOption.price}}{{/formatMoney}}</strong>{{/compare}} <br />
            {{#compare shippingOption.infoHeading '' operator="!="}}
                <a href="{{ shippingOption.infoUrl }}" target="_blank">{{ shippingOption.infoHeading }}</a>
            {{/compare}}
        </label>
    </div>
{% endverbatim %}