{% verbatim %}
    {{#compare order.discount 0 operator="=="}}
        <tr class="calc-row">
            <td colspan="2"></td>
            <td></td>
            <td class="td-total">
                Subtotal
            </td>
            <td class="td-total" colspan="2">
                <small>$</small>
                {{#formatMoney order.subtotal}}{{/formatMoney}}
                <div><small>(Incl. GST ${{#formatMoney order.tax}}{{/formatMoney}})</small></div>
            </td>
        </tr>
    {{/compare}}

    {{#compare order.discount 0 operator="!="}}
        <tr class="calc-row">
            <td colspan="2"></td>
            <td></td>
            <td class="td-total">
                Subtotal
            </td>
            <td class="td-total" colspan="2">
                <small>$</small>
                {{#formatMoney order.subtotal}}{{/formatMoney}}
            </td>
        </tr>
        <tr class="calc-row">
            <td colspan="2"></td>
            <td></td>
            <td class="td-total">
                Discount
            </td>
            <td class="td-total" colspan="2">
                -
                <small>$</small>
                {{#formatMoney order.discount}}{{/formatMoney}}
                <div><small>(Promo code: {{ order.promoCode }})</small></div>
            </td>
        </tr>
        <tr class="calc-row">
            <td colspan="2"></td>
            <td></td>
            <td class="td-total">
                After discount
            </td>
            <td class="td-total" colspan="2">
                <small>$</small>
                {{#formatMoney order.afterDiscount}}{{/formatMoney}}
                <div><small>(Incl. GST ${{#formatMoney order.tax}}{{/formatMoney}})</small></div>
            </td>
        </tr>
    {{/compare}}

    <tr class="calc-row">
        <td colspan="2"></td>
        <td></td>
        <td class="td-total">
            Delivery fee
        </td>
        <td class="td-total" colspan="2">
            {{#compare order.shippingId null operator="=="}}
                <small>To be confirmed</small>
            {{/compare}}

            {{#compare order.countryCode '' operator="!="}}
                {{#compare order.shippingId null operator="!="}}
                    <small>$</small>
                    {{#formatMoney order.shippingCost}}{{/formatMoney}}
                {{/compare}}
            {{/compare}}
        </td>
    </tr>
    <tr class="calc-row">
        <td colspan="2"></td>
        <td></td>
        <td class="td-total">
            Total
        </td>
        <td class="td-total" colspan="2">
            <small>$</small>
            {{#formatMoney order.total}}{{/formatMoney}}
        </td>
    </tr>
{% endverbatim %}