{% verbatim %}
    <tr class="calc-row">
        <td colspan="2"></td>
        <td></td>
        <td class="td-total">

        </td>
        <td class="td-total" colspan="2">
            <p>Promo code:</p>
            <input class="form-control js-cart-promo-code" placeholder="Promo Code" type="text" value="{{ order.promoCode }}">
            <button type="submit" class="btn btn-primary btn-sm mt-1 js-cart-promo-apply">Apply</button>
        </td>
    </tr>
    <tr class="calc-row">
        <td colspan="2"></td>
        <td></td>
        <td class="td-total">
            Subtotal
        </td>
        <td class="td-total" colspan="2">
            <small>$</small>
            {{#formatMoney order.subtotal}}{{/formatMoney}}
        </td>
    </tr>
    {{#compare order.discount 0 operator="!="}}
        <tr class="calc-row">
            <td colspan="2"></td>
            <td></td>
            <td class="td-total">
                Discount
            </td>
            <td class="td-total" colspan="2">
                -
                <small>$</small>
                {{#formatMoney order.discount}}{{/formatMoney}}
            </td>
        </tr>
        <tr class="calc-row">
            <td colspan="2"></td>
            <td></td>
            <td class="td-total">
                After discount
            </td>
            <td class="td-total" colspan="2">
                <small>$</small>
                {{#formatMoney order.afterDiscount}}{{/formatMoney}}
            </td>
        </tr>
    {{/compare}}
{% endverbatim %}