{% verbatim %}
    <form novalidate method="get" autocomplete="off">
        <div class="input-group">
            <input type="text" class="form-control js-search pz-search" name="keyword" value="{{keyword}}">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default js-search-button"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </form>

    <!--<div class="hr-line-dashed"></div>-->
    {{#compare '' keyword operator="=="}}
        <div class="jstree"></div>
    {{/compare}}

    {{#compare '' keyword operator="!="}}
        <a href="#" class="js-reset">&#10096; Browse by folders</a>
    {{/compare}}
    <div class="clearfix"></div>
{% endverbatim %}