<input type="hidden" id="currentFolderId" value="{{ app.request.session.get('currentFolderId') ?: 0 }}"/>
<div id="popup-container" style="height: 100%">
    <div class="row">
        <div class="col-lg-12" style="padding: 0">
            <div class="ibox">
                <div class="ibox-title" style="min-height: 55px">
                    <div class="js-nav"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div id="js-folders"></div>
        </div>
        <div class="col-lg-9">
            <ul id="filesImageList" class="contentListTable assets-images ui-sortable">
                {% for i in 1..200 %}
                    <li class="tableContent" id="documentCode-5432">
                        <div class="asset-img">
                            <a href="" title=""><img src="/Images/Assets/5432/5/" alt="" class="mceImage" border="0"></a>
                        </div>
                        <div class="details">
                            <a href="" title="">24 October 2018 Panu...</a>

                            <div class="asset-controls">
                                <a href="#" class="icon approve" rel="on" id="approve_5432"><img src="/cms/images/dotGreen.gif" alt="" border="0"></a>
                                <a class="icon" href="" title="24 October 2018 Panuku Board Meeting_for_testing"><img src="/cms/images/editIcon.gif" alt="Edit record" title="Edit record" border="0"></a>
                                <a class="icon" href=""><img src="/cms/images/binIcon.gif" alt="" border="0"></a>
                                <div class="doc-code-meta">5432</div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="extra-stuff" style="display: none;">
        <div class="pull-left">
            <button class="btn btn-sm btn-primary js-select-all" type="button"><i class="fa fa-toggle-on"></i>&nbsp;Select all</button>
            <button class="btn btn-sm btn-primary btn-outline js-deselect-all" type="button"><i class="fa fa-toggle-off"></i>&nbsp;&nbsp;<span class="bold">Deselect all</span></button>
        </div>

        <div class="pull-right">
            <button class="btn btn-sm btn-success btn-outline" type="button" onclick="$.fancybox.close();"><i class="fa fa-check"></i>&nbsp;Finish</button>
        </div>
    </div>
</div>