{% extends 'cms/cart/account-member.html.twig' %}

{% block memberContentWraper %}
    <div class="row bg-white pb-5 pt-2">
        <div class="col-md-10 ml-auto mr-auto">
            <h2 class="mb-5">Change Password</h2>
            <form class="settings-form">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label>Password:</label>
                            <input class="form-control border-input" placeholder="Password" type="text">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label>Retype Password:</label>
                            <input class="form-control border-input" placeholder="Retype Password" type="text">
                        </div>
                    </div>
                </div>
                <div class="text-center pt-2">
                    <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Save</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}