{% extends 'base.html.twig' %}
{% block bodyClass %}register-page full-screen page-login{% endblock %}

{% block container %}
    <div class="wrapper">
        <div class="page-header" style="background-image: url('/images/home.jpg');">
            <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
                        <div class="card card-register">
                            {#<h3 class="card-title">Login</h3>#}
                            <div class="text-center">
                                <a href="/facebook/verify" class="btn btn-facebook btn-sm">
                                    <i class="fa fa-facebook"></i> Login with Facebook
                                </a>
                                <a href="/google/verify" class="btn btn-google btn-sm">
                                    <i class="fa fa-google"></i> Login with Google
                                </a>
                            </div>
                            <div class="division">
                                <div class="line l"></div>
                                <span>or</span>
                                <div class="line r"></div>
                            </div>
                            <div class="text-center">
                                <h3 class="mt-0 mb-0">Login with</h3>
                            </div>
                            <form class="m-t" action="/account/login_check" method="post" novalidate autocomplete="off">
                                <label>Email</label>
                                <input class="form-control" name="_username" placeholder="Email" type="email" value="{{ last_username }}">
                                <label>Password</label>
                                <input class="form-control" name="_password" placeholder="Password" type="password">
                                {#<div class="form-group">#}
                                {#<input type="checkbox" id="id-remember" name="_remember_me" checked />#}
                                {#<label for="id-remember">Remember me</label>#}
                                {#</div>#}
                                {% if error %}
                                    <div class="alert alert-danger">
                                        {{ error.message }}
                                    </div>
                                {% endif %}
                                <button class="btn btn-default btn-block btn-round">Login</button>
                            </form>
                            <div class="row mt-3">
                                <div class="col-12 col-lg-6 text-left"><a href="/forget-password" class="mt-0 btn btn-link btn-success">&#10096; Forgot password?</a></div>
                                <div class="col-12 col-lg-6 text-right"><a href="/register" class="mt-0 btn btn-link btn-primary">Register &#10097;</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}