{% extends 'base.html.twig' %}

{% block bodyClass %}page-member{% endblock %}

{% block container %}
    {% set url = app.request.uri %}
    <div class="section section-gray" style="padding-top: 100px;">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-refine">
                        <div class="panel-group">
                            <div class="card-header card-collapse {% if 'dashboard' in url %}bg-danger{% endif %}">
                                <h5 class="mb-0 panel-title">
                                    <a href="/account/dashboard" class="{% if 'dashboard' in url %}text-white{% endif %}">
                                        Dashboard
                                    </a>
                                </h5>
                            </div>

                            <div class="card-header card-collapse {% if 'order' in url %}bg-danger{% endif %}">
                                <h5 class="mb-0 panel-title">
                                    <a href="/account/orders" class="{% if 'order' in url %}text-white{% endif %}">
                                        Previous Orders
                                    </a>
                                </h5>
                            </div>

                            <div class="card-header card-collapse {% if 'address' in url %}bg-danger{% endif %}">
                                <h5 class="mb-0 panel-title">
                                    <a href="/account/addresses" class="{% if 'address' in url %}text-white{% endif %}">
                                        Saved Addresses
                                    </a>
                                </h5>
                            </div>

                            <div class="card-header card-collapse {% if 'profile' in url %}bg-danger{% endif %}">
                                <h5 class="mb-0 panel-title">
                                    <a href="/account/profile" class="{% if 'profile' in url %}text-white{% endif %}">
                                        Personal Information
                                    </a>
                                </h5>
                            </div>

                            <div class="card-header card-collapse {% if 'password' in url %}bg-danger{% endif %}">
                                <h5 class="mb-0 panel-title">
                                    <a href="/account/password" class="{% if 'password' in url %}text-white{% endif %}">
                                        Change Password
                                    </a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->
                </div>
                <div class="col-md-9">
                    <div class="pricing-1 section bg-white pt-2">
                        <div class="container">
                            {% block memberContentWraper %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="reorderConfirm" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title text-center js-title">Processing...</h5>
                </div>
                <div class="modal-body">
                    <div class="js-load-screen text-center">
                        <div class="uil-reload-css" style="">
                            <div></div>
                        </div>
                    </div>

                    <div class="js-confirm-screen" style="display: none;">
                        <h4 class="text-center pb-3 mt-0">You order has been added to the cart.</h4>
                        <div class="js-table table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <th style="width: 50%;">Product</th>
                                <th>Issue</th>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="right-side">
                        <form action="/cart">
                            <button type="submit" class="btn btn-danger btn-link">Go to cart</button>
                        </form>
                    </div>
                    <div class="divider"></div>
                    <div class="left-side">
                        <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extraFooter %}
    <script>
        $(function () {
            $(document).on('click', '.js-reorder', function () {
                $('#reorderConfirm .modal-dialog').removeClass('modal-lg');
                $('#reorderConfirm .js-title').html('Processing...');
                $('#reorderConfirm .js-load-screen').show();
                $('#reorderConfirm .js-confirm-screen').hide();
                $('#reorderConfirm').modal('show');

                $.ajax({
                    type: 'GET',
                    url: '/cart/rest/reorder',
                    data: 'id=' + $(this).data('id'),
                    success: function (data) {
                        $('#reorderConfirm tbody').empty();
                        if (data.length) {
                            $('#reorderConfirm .modal-dialog').addClass('modal-lg');
                            $('#reorderConfirm .js-table').show();

                            for (var idx in data) {
                                var itm = data[idx];
                                $('#reorderConfirm tbody').append(
                                    '<tr>' +
                                        '<td>' + itm.title + '</td>' +
                                        '<td class="text-danger"><strong>' + itm.message + '</strong></td>' +
                                    '</tr>'
                                );
                            }

                        } else {
                            $('#reorderConfirm .modal-dialog').removeClass('modal-lg');
                            $('#reorderConfirm .js-table').hide();
                        }

                        $('#reorderConfirm .js-title').html('Added to cart');
                        $('#reorderConfirm .js-load-screen').hide();
                        $('#reorderConfirm .js-confirm-screen').show();
                        $('#reorderConfirm').modal('show');
                    }
                });
                return false;
            });
        });
    </script>
{% endblock %}
