{% extends 'cms/cart/account-member.html.twig' %}

{% block memberContentWraper %}
    <div class="row">
        <div class="col-md-10 ml-auto mr-auto">
            <a class="btn btn-default pull-right mt-4" href="/account/address/new"><i class="fa fa-plus"></i> Add new address</a>
            <h2 class="mb-5">Saved Addresses</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Primary</th>
                        <th></th>
                        <th class="text-right">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for itm in customerAddresses %}
                        <tr data-id="{{ itm.id }}">
                            <td><input type="radio" autocomplete="off" class="js-primary" name="primary" {% if itm.primaryAddress == 1 %}checked{% endif %}/></td>
                            <td>{{ itm.__toString }}</td>
                            <td class="td-actions text-right">
                                <a href="/account/address/{{ itm.uniqid }}" class="btn btn-round btn-sm btn-success btn-just-icon">
                                    <i class="nc-icon nc-zoom-split"></i>
                                </a>
                                <button class="btn btn-round btn-sm btn-danger btn-just-icon js-modal" data-toggle="modal" data-target="#deleteConfirm">
                                    <i class="nc-icon nc-simple-remove"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    {% if not customerAddresses|length %}
                        <tr>
                            <td colspan="4">No results found</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title text-center" id="deleteConfirmLabel">Delete this address</h5>
                </div>
                <div class="modal-body"> Are you sure you want to delete this address? The data <b>CAN NOT</b> be restored once you deleted it.
                </div>
                <div class="modal-footer">
                    <div class="left-side">
                        <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Never mind</button>
                    </div>
                    <div class="divider"></div>
                    <div class="right-side">
                        <button type="button" class="btn btn-danger btn-link js-confirm">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extraFooter %}
    <script>
        $(function () {
            $(document).on('mouseup', '.js-modal', function () {
                $('#deleteConfirm').data('id', $(this).closest('tr').data('id'));
            });

            $(document).on('click', '.js-confirm', function () {
                $.ajax({
                    type: 'GET',
                    url: '/account/ajax/address/delete',
                    data: 'id=' + $('#deleteConfirm').data('id'),
                    success: function (data) {
                        location.reload();
                    }
                });
            });

            $(document).on('click', '.js-primary', function () {
                $.ajax({
                    type: 'GET',
                    url: '/account/ajax/address/primary',
                    data: 'id=' + $(this).closest('tr').data('id'),
                    success: function (data) {
                        // location.reload();
                    }
                });
            });
        });
    </script>
{% endblock %}