{% extends 'base.html.twig' %}

{% block container %}
    <div class="features-5 section-image" style="background-image: url('/images/home.jpg')">
        <div class="container">
            <div class="row">
                <div class="ml-auto mr-auto">
                    <h2 class="title text-center">Activation required</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col-lg-8 mx-auto pz-content">
                <p>Thanks for registering with us! We have sent an activation email to your address <strong>{{ orm.title }}</strong>. Please check your inbox and follow the instructions to activate your account.</p>
                <p>If you can not find your activation email, please check your spam box. If you have not received the email for more than 45 minutes, please <a href="/contact">contact us.</a> We will sort it out for you.</p>
            </div>
        </div>
    </div>
{% endblock %}