{% form_theme form 'cms/form.twig' %}
<div class="js-pjax-form-container">
	{% if submitted %}
		<div class="js-submitted"></div>
	{% else %}
		<form action="{{ url }}" method="POST" novalidate autocomplete="off" class="edit" enctype="multipart/form-data">
			{{ form_widget(form) }}
		</form>
	{% endif %}
</div>

<script>
	$(function () {
		$('#orm_content').hide();
        window._ormPvTableRows = $('#orm_content').val() ? JSON.parse($('#orm_content').val()) : [{
            title: '',
            content: '',
        }];
		window._ormPvParentContainer = $('#orm_content').parent();
        window._ormPvParentContainer.prepend('<a class="button-normal button-galery js-ormPvRowAdd" style="float: right; margin-bottom: .5em"><i class="fas fa-plus"></i> Row</a>');
        window._ormPvParentContainer.append(
            '<table class="table table-striped table-bordered table-hover table-middle" style="margin-top: .2em">' +
                '<thead><tr>' +
                    '<th class="tableHead" style="width: 30%;">Title</th>' +
                    '<th class="tableHead">Content</th>' +
                    '<th class="tableHead" style="width: 10;">&nbsp;</th>' +
                '</tr></thead>' +
            '</table>'
		);

        $('.js-ormPvRowAdd').click(function () {
            window._ormPvTableRows.push({
                title: '',
                content: '',
            });
            ormPvRender();
        })

        ormPvRender();
	});

	function ormPvRender() {
        window._ormPvParentContainer.find('table').find('tbody').remove();
        for (var idx in window._ormPvTableRows) {
            var itm = window._ormPvTableRows[idx]
            window._ormPvParentContainer.find('table').append(
                '<tbody data-idx="' + idx + '"><tr>'+
                    '<td><input type="text" class="js-ormPvRowTxt js-ormPvRowTxtTitle" value="' + itm.title + '"></td>' +
                    '<td><input type="text" class="js-ormPvRowTxt js-ormPvRowTxtContent" value="' + itm.content + '"></td>' +
                    '<td><a href="#" class="js-ormPvRowDel"><img alt="Delete Record" title="Delete Record" src="/cms/images/binIcon.gif" border="0"></a></td>' +
                '</tr></thead>'
            );
        }
        $('.js-ormPvRowDel').click(function () {
            var idx = $(this).closest('tbody').data('idx');
            window._ormPvTableRows.splice(idx, 1)
            ormPvRender();
            return false;
        });

        $('.js-ormPvRowTxt').change(function () {
            window._ormPvTableRows = [];
            $.each(window._ormPvParentContainer.find('table').find('tbody'), function (idx, itm) {
                window._ormPvTableRows.push({
                    title: $(itm).find('.js-ormPvRowTxtTitle').val(),
                    content: $(itm).find('.js-ormPvRowTxtContent').val(),
                });
            });
            ormPvRender();
            return false;
        });

        $('#orm_content').val(JSON.stringify(window._ormPvTableRows))
    };
</script>

