{% extends 'cms/base.twig' %}
{% block extraBody %}data-class="Asset"{% endblock %}
{% block extraBodyClass %}page-files{% endblock %}

{% block externalHead %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.30.0/css/jquery.fileupload.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.7/themes/default/style.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{% endblock %}

{% block container %}
    <div class="mode-asset file-manager wrapper wrapper-content">
        {% include 'cms/includes/file-manager.html.twig' %}
    </div>
{% endblock %}

{% block externalFooter %}
    <script src="/cms/develop/js/files.js"></script>
{% endblock %}
